<div>
  <form (ngSubmit)="entrar()">
    <label for="user-email">Usuário:</label>
    <input
      type="email"
      name="user-email"
      id="user-email"
      placeholder="Digite seu email cadastrado"
      [(ngModel)]="login.emailUsuario"
    />
    <br />
    <label for="user-password">Senha:</label>
    <input
      type="password"
      name="user-password"
      id="user-password"
      placeholder="Digite sua senha"
      [(ngModel)]="login.senha"
    />
    <br />
    <button type="submit">Entrar</button>
    <button type="button" (click)="resetarSenha()">Esqueci a senha</button>
    <br />
    <button type="button" (click)="cadastrar()">Cadastrar</button>
  </form>
</div>
