@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: normal;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}
header h1{
    font-size: 2em;
    font-weight: bold;
    max-width: 600px;
    margin: auto;
    /* border: 1px solid yellow; */
}
header p{
    font-size: 1.1em;
    color: white;
    max-width: 600px;
    margin: auto;
    padding-top: 10px;
    /* border: 1px solid yellow; */

}
a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
a:hover{
    text-decoration: underline;
}
/* nav{
    background-color: darkblue;
    display: flex;
} */
/* nav a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
    padding: 10px 20px;
    background-color: red;
} */
main{
    max-width: 600px;
    margin: auto;
    background-color: #FFFFFA;

}

footer{
    background: black;
    color: white;
    font-size: 0.8em;
    /* text-align: center; */
    margin: auto;
    height: 2em;
}